/* Colors: */
$colour__primary__dark: #2b3247;
$colour__secondary__dark: #3c4665;
$colour__tertiary__dark: #646464;

$colour__lightest: #fff;
$colour__primary__light: #50e3c2;
$colour__secondary__light: #e2e5ef;
$colour__tertiary__light: #3f9087;
