%button-base-settings {
  border: 2px solid #646464;
  border-radius: 5px;
  font-family: Helvetica;
  margin: 5px;
  padding: 5px 30px;
}

.button {
  @extend %button-base-settings;

  color: #e2e5ef;

  &:hover {
    background-color: #3f9087;
    color: #2B3247;
  }
}

.button--selected {
  @extend %button-base-settings;

  background-color: #3f9087;
  color: #2B3247;

  &:hover {
    border: 2px solid #e2e5ef;
    color: #e2e5ef;
  }
}
