@import '../../styles/variables';

%button-base-settings {
  border: 2px solid $colour__tertiary__dark;
  border-radius: 5px;
  font-family: Helvetica;
  margin: 5px;
  padding: 5px 30px;
}

.button {
  @extend %button-base-settings;

  color: $colour__secondary__light;
  background-color: $colour__secondary__dark;
  transition: .2s;

  &:hover {
    border: 2px solid $colour__secondary__light;
    color: $colour__secondary__lighter;
  }
}

.button--selected {
  @extend %button-base-settings;

  background-color: $colour__secondary__light;
  color: $colour__primary__dark;
  transition: .3s;

  &:hover {
    border: 2px solid $colour__secondary__light;
    color: $colour__primary__dark;
  }
}
