@import '../../styles/variables';

.remove--button {
  border: 2px solid $colour__tertiary__dark;
  border-radius: 5px;
  color: $colour__secondary__light;
  cursor: pointer;
  font-family: Helvetica;
  margin: 5px;
  padding: 5px 30px;

  &:hover {
    background-color: $colour__tertiary__light;
    color: $colour__primary__dark;
  }
}
