@import '../../styles/variables';

.movie--details {
  background-color: $colour__secondary__dark;
  color: $colour__secondary__lighter;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  left: 25%;
  overflow: scroll;
  padding-bottom: 50px;
  padding-top: 25px;
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 2000;

  &__poster {
    margin-left: 50px;
    width: 30%;

    &__back--to--list {
      cursor: pointer;

      .fa {
        font-size: 20px;
        transition: transform .2s;

        &:hover {
          color: $colour__primary__dark;
          transform: scale(1.5);
        }
      }

      span {
        font-size: 20px;
        margin-left: 10px;
      }
    }

    img {
      height: 50%;
      margin-top: 20px;
      width: 100%;
    }

    &__actions {
      margin-top: 10px;
      font-size: 20px;

      span {
        margin-left: 10px;
      }

      .fa {
        cursor: pointer;
        transition: transform .2s;

        &:hover {
          color: $colour__primary__dark;
          transform: scale(1.5);
        }
      }
    }

    &__related--movies {
      margin-top: 30px;

      p {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    margin-left: 50px;
    width: 60%;

    &__title {
      span {
        font-size: 30px;
        font-weight: bold;
      }
    }

    &__main--info {
      border-bottom: 1px solid $colour__secondary__light;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 20px;

      div:not(:first-child) {
        margin-left: 10px;
      }

      &__user--score {
        p {
          margin-top: 5px;
        }
      }

      &__play--trailer {
        .fa {
          cursor: pointer;
          font-size: 56px;
          margin: 5px 10px -10px 30px;
          transition: transform .2s;

          &:hover {
            color: $colour__primary__dark;
            transform: scale(1.4) translateY(3px);
          }
        }

        p {
          margin-top: 20px;
          padding-left: 15px;
          padding-right: 2px;
        }
      }

      &__genres--year--duration--titles {
        font-weight: bold;
        padding-left: 30px;

        &__genres {
          margin-bottom: 16px;
          margin-left: 10px;
        }

        &__year {
          margin-bottom: 16px;
          margin-left: 10px;
        }
      }

      &__genres--year--duration--content {
        &__genres {
          margin-bottom: 16px;
          margin-left: 10px;
        }

        &__year {
          margin-bottom: 16px;
          margin-left: 10px;
        }
      }
    }

    &__overview {
      &__text {

      }
    }

    &__feature--crew {
      border-bottom: 1px solid $colour__secondary__light;
      padding-bottom: 20px;

      &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &__roles {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
        }

        &__names {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          margin-left: 100px;
        }
      }
    }

    &__top--cast {
      border-bottom: 1px solid $colour__secondary__light;
      padding-bottom: 20px;

      &__cast--actors {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
  }
}
