@import '../../styles/mixins';

.home--page {
  @extend %page-base-settings;

  &__overlay {
    height: 100%;
    position: absolute;
  }

  &__page--menu {
    @extend %menu-base-settings;
  }

  &__page--content {
    @include base-page-structure;

    &__sorting--bar {
      margin-bottom: 25px;
      margin-left: 45px;

      button {
        cursor: pointer;
      }
    }
  }
}
